In [1]:
import requests

In [2]:
data =  requests.get('https://reqres.in/api/unknown')

In [3]:
data.content

b'{"page":1,"per_page":6,"total":12,"total_pages":2,"data":[{"id":1,"name":"cerulean","year":2000,"color":"#98B2D1","pantone_value":"15-4020"},{"id":2,"name":"fuchsia rose","year":2001,"color":"#C74375","pantone_value":"17-2031"},{"id":3,"name":"true red","year":2002,"color":"#BF1932","pantone_value":"19-1664"},{"id":4,"name":"aqua sky","year":2003,"color":"#7BC4C4","pantone_value":"14-4811"},{"id":5,"name":"tigerlily","year":2004,"color":"#E2583E","pantone_value":"17-1456"},{"id":6,"name":"blue turquoise","year":2005,"color":"#53B0AE","pantone_value":"15-5217"}],"support":{"url":"https://reqres.in/#support-heading","text":"To keep ReqRes free, contributions towards server costs are appreciated!"}}'

In [6]:
import pandas as pd

In [7]:
pd.DataFrame([{"id":1,"name":"cerulean","year":2000,"color":"#98B2D1","pantone_value":"15-4020"},{"id":2,"name":"fuchsia rose","year":2001,"color":"#C74375","pantone_value":"17-2031"},{"id":3,"name":"true red","year":2002,"color":"#BF1932","pantone_value":"19-1664"},{"id":4,"name":"aqua sky","year":2003,"color":"#7BC4C4","pantone_value":"14-4811"},{"id":5,"name":"tigerlily","year":2004,"color":"#E2583E","pantone_value":"17-1456"},{"id":6,"name":"blue turquoise","year":2005,"color":"#53B0AE","pantone_value":"15-5217"}])

   id            name  year    color pantone_value
0   1        cerulean  2000  #98B2D1       15-4020
1   2    fuchsia rose  2001  #C74375       17-2031
2   3        true red  2002  #BF1932       19-1664
3   4        aqua sky  2003  #7BC4C4       14-4811
4   5       tigerlily  2004  #E2583E       17-1456
5   6  blue turquoise  2005  #53B0AE       15-5217

In [8]:
data =  requests.get('http://127.0.0.1:8000/api/get/elist/')

In [16]:
from bs4 import BeautifulSoup

In [19]:
d =  BeautifulSoup(data.content,'html.parser')

In [23]:
pd.DataFrame(d)

                                                   0
0  [{"eno":1,"ename":"Keshav","esal":45000,"ecity...

In [24]:
d

[{"eno":1,"ename":"Keshav","esal":45000,"ecity":"pune"},{"eno":2,"ename":"Dinesh","esal":95000,"ecity":"mumbai"}]